*.class
*.dll
CurlGlue.*
*.jnilib
*.o
*.log
*.lo
*.la
*.jar
missing
ltmain.sh
libtool
install-sh
depcomp
configure
config.sub
config.status
config.guess
compile
autom4te.cache/
aclocal.m4
aclocal.m4.bak
Makefile.in
Makefile
.deps/
.libs/
